.gradient-custom {
  /* fallback for old browsers */
  background: #b5c99e;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(151, 221, 180), rgb(79, 83, 78));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(151, 221, 180), rgb(79, 83, 78))
  }
