<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/cv.jpg" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <h2> Ayelén Curetti</h2>
      <p>Full Stack Developer Junior</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
          <h1>Acerca de mí</h1>
          <p>Estoy comenzando mis pasos en el desarrollo web. Antes estudie Licenciatura en administración, profesorado de ciencias económicas y yoga. Me gusta aprender y descubrir cosas nuevas. #curiosa #enconstrucción</p>
      </span>
  </div>
</div>
