<div class="row">
  <h1>Educación</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-10"></div>
  <ul>
    <li>
       <h2>Full stack developer - Argentina Programa</h2><h4> (Actualidad - Diciembre 2021)</h4>
       <h4>Argentina Programa</h4>
       <p>           </p>
      </li>
       <li>
       <h2>Profesorado en docencia superior y educación media</h2><h4>(Del 2019 a 2022)</h4>
       <h4>Universidad Tecnológica Nacional de Buenos Aires (UTN)</h4>
       <p> </p>
      </li>
       <li>
       <h2>Diplomatura en gestión de emprendimientos</h2> <h4> (Del 2014 al 2015)</h4>
       <h4>Universidad Siglo XXI</h4>
       <p></p>
      </li>

<li>
       <h2>Licenciatura en administración</h2> <h4> (Del 2007 al 2013)</h4>
       <h4>Universidad Nacional de Córdoba</h4>
       <p></p>
      </li>

<li>
       <h2>Programa Lazos: Formación para consultores Mipyme </h2> <h4> (Año 2013)</h4>
       <h4>Universidad Nacional de Córdoba (UNC)</h4>
       <p></p>
      </li>

<li>
       <h2>Jóvenes de UNASUR por una economía social y para la integración regional</h2> <h4> (Año 2013)</h4>
       <h4>Universidad Nacional de Buenos Aires (UBA)</h4>
       <p></p>
      </li>
</ul>
</div>

