<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <div class="text-center">
      <circle-progress
        [percent]="85"
        [radius]="60"
        title="90"
        subtitle="Liderazgo"
        [outerStrokeColor]=" ' #008080 '"
        [innerStrokeColor]=" ' #808080 '"
        [animation]="true"
           ></circle-progress>

           <div class="text-center">
        <circle-progress
        [percent]="85"
        [radius]="60"
        title="95"
        subtitle="Gestión"
        [outerStrokeColor]=" ' #008080 '"
        [innerStrokeColor]=" ' #808080 '"
        [animation]="true"
           ></circle-progress>

           <div class="text-center">>
          <circle-progress
          [percent]="85"
          [radius]="60"
          title="97"
          subtitle="Trabajo en equipo"
          [outerStrokeColor]=" ' #008080 '"
          [innerStrokeColor]=" ' #808080 '"
          [animation]="true"
             ></circle-progress>

             <div class="text-center">
            <circle-progress
            [percent]="70"
            [radius]="60"
            title="70"
            subtitle="HTML"
            [outerStrokeColor]=" ' #008080 '"
            [innerStrokeColor]=" ' #808080 '"
            [animation]="true"
               ></circle-progress>

               <div class="text-center">
              <circle-progress
              [percent]="70"
              [radius]="60"
              title="70"
              subtitle="CSS"
              [outerStrokeColor]=" ' #008080 '"
              [innerStrokeColor]=" ' #808080 '"
              [animation]="true"
                 ></circle-progress>

                 <div class="text-center">
                <circle-progress
                [percent]="70"
                [radius]="60"
                title="60"
                subtitle="GITHUB"
                [outerStrokeColor]=" ' #008080 '"
                [innerStrokeColor]=" ' #808080 '"
                [animation]="true"
                   ></circle-progress>
 </div>
</div>
