<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-10"></div>
  <ul>
      <li>
         <h2>Responsable de experiencia del asociado</h2><h3> (Actualidad - Enero 2020)</h3>
         <h3>Asociación Mutual SanCor Salud</h3>
         <p>Control de procesos y actividades pendientes. Seguimientos de indicadores de satisfacción y desempeño de personal a cargo. Monitoreos de caja.
          Actualmente entrenando a distintas sucursales del país en la implementación del sistema CRM para la compañia. Participante activa del proyecto de cambio de gestión
         </p>
        </li>
         <li>
         <h2>Docente de nivel secundario y adultos</h2><h3>(Diciembre 2021 - Marzo 2020)</h3>
         <h3>Escuelas estatales provincia de La Pampa</h3>
         <p> Dictado de clases como "gestión de las organizaciones" (II y III) y "Proyecto asociado al mundo del trabajo" en escuela técnica con orientación a informatica, durante el periodo de aislamiento social preventido de la pandemia COVID 19, dictando clases en modalidad virtual con herramientas que motiven la continuidad del alumnado</p>
        </li>
         <li>
         <h2>Control de procesos y gestión</h2> <h3> (Diciembre 2019 - Junio 2014)</h3>
         <h3>Pelayo Agronomía S.A</h3>
         <p>Implementación y creación de indicadores de las distintas unidades de negocio de la compañia. Relevamiento de información de sistemas para posterior automatización de las mediciones (macros de excel). Generar consciencia en el equipo de lo relevante de medirnos liderarnos el proceso de cambio a esta metodologia de trabajo</p>
        </li>
  </ul>
</div>
<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-2">
      <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
          Nueva Experiencia
      </button>
  </div>
